{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/todos.css' %}">

<h1>{{title}}</h1>

<div class= 'container'>
    {%  if todos  %}
        <ul>
            {% for todo in todos %}
                <li class = "content">
                    <span class = 'todo-title'>{{todo.title}}</span>
                    <a href = "{% url 'todos:id' todo.tid %}">Show</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>NO content here!</h2>
    {% endif %}
</div>




