{% load static %}

{% include "common/header.html" %}

<div class = "container">
    <div class = "card">
    <div class = 'card-header'>
        <span class = "float-left">{{todo.title}}</span>
        <a href = "{% url 'todos:deleteTodo' todo.tid %}"><i class = "float-right fa fa-trash"></i></a>
    </div>
    <span class = 'card-body'>{{todo.content}}</span>
    <div class = 'card-footer clearfix'>
        <span class = 'date-created float-left'>Date Created: {{todo.dateCreated}}</span>
        <span class = 'date-modified float-right'>Date Modified: {{todo.dateModified}}</span>
    </div>
</div>
</div>

 